* {
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img/transito01.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

h1 {
    margin: auto
}


.masterpai {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: #808080b3;
}

.master {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #393939f0;
    ;
    padding: 25px 25px 25px 25px;
    gap: 6px;
    border-radius: 10px;
}

.master p {
    margin-bottom: 3px;
    padding-left: 20px;
}

.master input {
    width: 200px;
    color: black;
    margin-left: 20px;
}

.flex {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
}

.flex2 {
    display: flex;
}

.flex2 input {
    width: 15px;
    margin: 0px;
    margin-right: 8px;
}

.flex3 {
    display: flex;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*confg  button FINALIZAR*/

.button-master {
    display: flex;
    flex-direction: row-reverse;
}

.button1 {
    background: #04040491;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FF4742;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button1:hover,
.button1:active {
    background-color: initial;
    background-position: 0 0;
    background-color: #ff484286;
    color: white;
}

.button1:active {
    opacity: .5;
}

/* Criação do modal para aprensentação das respostas */
/*Test*/
.modal {
    display: none;
    align-items: center;
    /* Hidden by default */
    height: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.0);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fefefe;
    margin: 14% auto;
    /* 15% from the top and centered */
    padding: 20px 20px 45px 20px;
    border: 1px solid #888;
    width: 55%;
    /* Could be more or less, depending on screen size */
    border-radius: 5px;
}

/* The Close Button */
.close {
    display: flex;
    justify-content: flex-end;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Mudança d design para as respostas do modal*/

.respostas {
    display: flex;
    width: 100%;
}

#resGasolina {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}

#resGasolina h3 {
    display: flex;
    color: black;
    justify-content: center;

}

.showAlcool {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.showAlcool h3 {
    display: flex;
    color: black;
    justify-content: center;
}

.tabelaMaster {
    display: flex;
    justify-content: center;
}

.respostas p {
    color: black;
}

.verificado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_check {
    display: flex;
}

.img_check img {
    display: flex;
    width: 120px;
}

.text_check {
    display: flex;
}

.text_check h2 strong {
    margin-bottom: 20px;
    margin-left: 12px;
    display: flex;
    color: black;
    justify-content: center;

}

#tabeladeRespostas td {
    color: black;
    width: 100px;
}


@media screen and (max-width: 1000px) {
    .modal-content{
        height: 50%;
        width: 80%;
    }

    .respostas {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 410px) {
    .modal-content{
        height: 60%;
    }
}